      #map {
        width: 400px;
        height: 200px;
        margin: 0;
        padding: 0;
      }

      .stations, .stations svg {
        position: absolute;
      }

      .stations svg {
        width: 60px;
        height: 20px;
        padding-right: 100px;
        font: 10px sans-serif;
      }

      .stations circle {
        fill: #F76574;
        stroke: black;
        stroke-width: 1.5px;
      }


      #businessSearch {
        display: block;
        clear: both;
        vertical-align: center;
        font-family: 'Open Sans', sans-serif;
      }

      #businessTags{
        font-family: 'Open Sans', sans-serif;
      }

  .chart {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
  }

  .axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

body {
  font: 12px sans-serif;
  font-family: 'Open Sans', sans-serif;
}

#sidebar {
  font: 12px sans-serif;
  float: left;
  height:100vh;
}

#searchbytext {
  margin-top: 10px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 16pt; 
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
  stroke-opacity: .7;
  fill-opacity: .7;
}

#controls {
  font-size: 14px;
  position: absolute;
  top: 120px;
  left: 810px;
}

input {
  margin: 4px 4px 0;
}

div.tooltip { 
  position: absolute;     
  text-align: left;     
  width: 150px;          
  height: 12px;         
  padding: 1px;       
  font: 9px sans-serif;   
  background: lightsteelblue; 
  pointer-events: none;     
}

#sidebar {
  width: 400px;
  text-align: center;
  background-color: #FAF5F5; 
  font-family: 'Open Sans', sans-serif;
}

.sidebar {
  display: block;
}

.sidebarheader {
  font: 14px sans-serif;
}

#vizspace {
  margin-left: 30px;
  margin-top: 20px;
  display: block;
  float:left;
}

#comparisonbuttons {
  opacity: 0;
}