      #map {
        width: 400px;
        height: 200px;
        margin: 0;
        padding: 0;
      }

      .stations, .stations svg {
        position: absolute;
      }

      .stations svg {
        width: 60px;
        height: 20px;
        padding-right: 100px;
        font: 10px sans-serif;
      }

      .stations circle {
        fill: #F76574;
        stroke: black;
        stroke-width: 1.5px;
      }

      #searchfilters {
        margin-left: 10px;
      }

      #businessSearch {
        float: left;
        margin: 10px;
        margin-left: 50px;
      }

      #categorySearch {
        float: left;
        margin: 10px;
        margin-left: 50px;
      }

      #category {
        float: left;
        margin: 10px;
        margin-left: 50px;
      }

      #distance {
        float: left;
        margin: 10px;
        margin-left: 50px;
      }

      #visualizationspace {
        margin-top: 10px;
      }

  .chart {
    font-family: Arial, sans-serif;
    font-size: 10px;
  }

  .axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }


# CSS FOR VISUALIZATION - Akhila

body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
  stroke-opacity: .7;
  fill-opacity: .7;
}

#controls {
  font-size: 14px;
  position: absolute;
  top: 120px;
  left: 810px;
}

input {
  margin: 4px 4px 0;
}

      div.tooltip { 
        position: absolute;     
        text-align: center;     
        width: 50px;          
        height: 12px;         
        padding: 2px;       
        font: 9px sans-serif;   
        background: lightsteelblue; 
        border: 0px;    
        border-radius: 8px;     
        pointer-events: none;     
    }